---
console.log("Hello from header.astro");
---
<header class="py-8 px-4 mx-auto max-w-xl lg:px-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
        SpaceX Launches 🚀
      </h2>
      <p class="text-sm text-gray-600">A list of SpaceX launches</p>
  </div>
  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <a class="text-white" href="/">Ultimos lanzamientos</a>
    <a class="text-white" href="/about">Sobre el proyecto</a>
    <a class="text-white" href="/oldest">lanzamientos antiguos</a>
  </nav>
  </header>